<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ThaiNationalIDCard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ThaiNationalIDCard.Properties.Settings>
            <setting name="URL" serializeAs="String">
                <value />
            </setting>
            <setting name="FTP" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value />
            </setting>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="Pass" serializeAs="String">
                <value />
            </setting>
        </ThaiNationalIDCard.Properties.Settings>
    </userSettings>
    <system.serviceModel>
	    <services>
	      <service name="DigioNIDReader.jsonService">
		    <endpoint address="http://localhost:5555" 
				  binding="webHttpBinding" 
				  contract="DigioNIDReader.ijsonService"/>
	      </service>
	    </services>
	    <behaviors>
	     <endpointBehaviors>
		    <behavior>
		     <webHttp />
		    </behavior>
	       </endpointBehaviors>
	      </behaviors>
   </system.serviceModel>
</configuration>